/* https://www.color-hex.com/color-palette/6409 */
:root {
  --espeon-blue: #294974;
  --espeon-purple: #926ecc;
  --espeon-purple-light: #dbb2e3;
  --espeon-purple-dark: #8653b2;
  --espeon-red: #e73752;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: var(--espeon-blue);
}

.form_main{
  background-color: var(--espeon-purple-light);
  padding: 20px;
  border-radius: 5px;
}

#register_form, #register_form h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: var(--espeon-blue);
}

.form-container, .form-container select{
  width: 100%;
}

.form-container label{
  color: var(--espeon-blue);
  font-weight: bold;  
}

.form-container input, .form-container label, .form-container select {
  margin-bottom: 2px;
}

.form-container input, .form-container select, .btns {
  padding: 10px;
  border: none;
  border-radius: 2px;
  background-color: var(--espeon-blue);
  color: var(--espeon-red);
  font-weight: bold;
  align-self: center;
}

.underline_btn {
  border: none;
  background-color: transparent;
  color: var(--espeon-blue);
  text-decoration: underline;
  font-size: 1em;
}

.btns, .underline_btn {
  display: flex;
  justify-content: center;
  margin: 8px auto; 
}
